{% extends '_partials/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<h1 class="ui header">Tasks List</h1>

{% include '_partials/message.html' %}

{% if total == 0 %}
<div class="ui message">
    <div class="header">
        No Tasks Set.
    </div>
    <p>You can add tasks now by clicking <a href="{% url 'create-todo' %}">here</a>.</p>
</div>
{% else %}

{% if request.GET.filter == 'complete' and completed_count == 0 %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4" class="center aligned">No Tasks Completed</td>
        </tr>
    </tbody>
</table>
{% elif request.GET.filter == 'incomplete' and incomplete_count == 0 %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4" class="center aligned">No Remaining Tasks</td>
        </tr>
    </tbody>
</table>
{% else %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.title }}</td>
            <td>{{ todo.description }}</td>
            <td>
                {% if todo.is_completed %}
                Yes <i class="check icon green"></i>
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                <a href="{% url 'todo' todo.pk %}" class="ui blue button">
                    <i class="eye icon" style="margin-right: 0;"></i>
                </a>
                <a href="{% url 'edit-task' todo.pk %}" class="ui yellow button">
                    <i class="pencil icon" style="margin-right: 0;"></i>
                </a>
                <a href="{% url 'delete-task' todo.id %}" class="ui red button">
                    <i class="trash icon" style="margin-right: 0;"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>
                <a href="?filter=all">All Tasks {{ total }}</a>
            </th>
            <th>
                <a href="?filter=complete">Completed Tasks {{ completed_count }}</a>
            </th>
            <th>
                <a href="?filter=incomplete">Remaining Tasks {{ incomplete_count }}</a>
            </th>
            <th></th>
        </tr>
    </tfoot>
</table>
{% endif %}
{% endif %}

{% endblock content %}